@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --primary-color: #00afff;
    --secondary-color: #008ccb;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(114, 176, 255);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(37 99 235);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(30 64 175);
}

body {
}

.header-button {
    @apply text-white bg-blue-600 hover:bg-blue-700 rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-blue-600 dark:hover:bg-blue-600 focus:outline-none dark:focus:bg-red-500;
    @apply font-semibold

}

.header-login-button {
    @apply bg-white text-blue-600 hover:bg-gray-200

}

.header-signup-button {
}

.landing {

}
